.wrap {
  margin: 0 auto;
  width: var(--grid-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.game-header {
  flex-basis: 100%;
  margin: 20px 0 0;
}

.game-description {
  flex-basis: 100%;
  margin: 20px 0 40px;
}

.game__container {
  flex-basis: 100%;
  position: relative;
}

@media screen and (max-width: 991px) and (orientation: landscape) {
  .game__container {

  }
}
