.grid {
  margin: 0 auto;
  box-sizing: border-box;
  padding: var(--padding);
  width: var(--grid-size);
  height: var(--grid-size);
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: var(--padding);
  align-items: center;
  justify-items: center;
}

.grid-cell {
  background: #ccc;
  border-radius: 5px;
  width: var(--cell-size);
  height: var(--cell-size);
}
